<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postfix Evaluator</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/projects/PostfixConverterAndEvaluator/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand " href="/projects/converterandevaluator/">Converter and Evaluator</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/projects/converterandevaluator/infixToPostfix">Converter</a>
              <a class="nav-link active" aria-current="page" href="/projects/converterandevaluator/postfixEvaluator">Evaluator</a>
              <a class="nav-link" href="https://github.com/tirthraj07" target="_blank">Github</a>
            </div>
          </div>
        </div>
    </nav>
    
    <div class="container p-5 my-5 bg-primary text-white justify-content-center">
        <h1>Postfix Evaluator</h1>
        <p>Iterate the expression from left to right and keep on storing the operands into a stack. Once an operator is received, pop the two topmost elements and evaluate them and push the result in the stack again.</p>
        <div class="alert alert-warning" role="alert">
            Enter the Expression in Space Separated Format! For example: A B C / D A - F ^ H ^ * + or 10 7 2 * +
        </div>
        
        
        <div class="form-group">
            <label for="postfixExpression">Postfix Expression</label>
            <input type="postfixExpression" class="form-control" id="postfixExpression" aria-describedby="postfixExpressionHelp" placeholder="Enter Postfix Expression">
            <br>
            <small id="postfixExpressionHelp"class="form-text text-muted" style="font-size: medium;"><span style="color: white;">Algorithm to </span> <a class="text-white" target="_blank" href="https://www.geeksforgeeks.org/evaluation-of-postfix-expression/">Evaluate Postfix</a>.</small>
        </div>
        <br>
        <input type="submit" class="btn btn-warning" value="Calculate" onclick="calculate()">
        <br><br>
        <div id="result" class="alert alert-primary" role="alert" style="display: none;"></div>

    </div>


    <table id="evaluationTable" class="table table-striped table-hover w-75" style="margin: auto;">
        <thead class="table-dark">
            <tr>
              <th scope="col">Sr no.</th>
              <th scope="col">Postfix</th>
              <th scope="col">Stack</th>
            </tr>
        </thead>
        <tbody id="tbody">
        
        </tbody>
    </table>


    <br><br>

    <div class="container p-5 my-5">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">C++</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">JavaScript</button>
    </li>
    </ul>
    <div class="tab-content pt-4 pb-4 ps-4 border border-1 border-info" id="pills-tabContent" style="border-radius: 10px;">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
<pre style="text-wrap:wrap;">

<span class="text-secondary">// Postfix Evaluator </span>
<span class="text-secondary">// Name - Tirthraj Mahajan</span>

<span class="text-primary">#include</span> &lt;iostream&gt;
<span class="text-primary">#include</span> &lt;stack&gt;
<span class="text-primary">#include</span> &lt;string&gt;
<span class="text-primary">#include</span> &lt;cmath&gt;
<span class="text-primary">#include</span> &lt;stdexcept&gt;
<span class="text-primary">using namespace std;</span>

<span class="text-primary">bool </span>isOperand(char ch){
    <span class="text-primary">if</span> (ch!='+'&&ch!='-'&&ch!='*'&&ch!='/'&&ch!='('&&ch!=')'&&ch!='^') {
        <span class="text-primary">return</span> true;
    }
    <span class="text-primary">else</span>{
        <span class="text-primary">return</span> false;
    }
}

<span class="text-primary">int </span>operation(char ch, <span class="text-primary">int </span>a, <span class="text-primary">int </span>b) {
    <span class="text-primary">switch</span>(ch) {
        <span class="text-primary">case </span>'+':
            <span class="text-primary">return</span> a + b;
        <span class="text-primary">case </span>'-':
            <span class="text-primary">return</span> a - b;
        <span class="text-primary">case </span>'*':
            <span class="text-primary">return</span> a * b;
        <span class="text-primary">case </span>'/':
            <span class="text-primary">if</span> (b != 0) {
                <span class="text-primary">return</span> a / b;
            } <span class="text-primary"><span class="text-primary">else</span> </span>{
                throw invalid_argument("Division by zero");
            }
        <span class="text-primary">case </span>'^':
            <span class="text-primary">return</span> int(pow(a, b));
        default:
            throw invalid_argument("Unsupported operation");
    }
}

<span class="text-primary">int </span>evaluation(string postfix){
    <span class="text-secondary">//</span> A Temporary variable to store the string to interger conversion</span>
    <span class="text-primary">int </span>num;

    <span class="text-secondary">//</span> Stack to handle the postfix expression</span>
    stack&lt;int&gt; st;

    for(<span class="text-primary">int </span>i=0; i&lt;postfix.length(); i++){

        <span class="text-secondary">//</span> if the current element in postfix expression is an operand, then "try" to convert that 'char' into 'int' using try <span class="text-primary">catch</span> block and stoi function given in std::string class in C++11 or more</span>
        <span class="text-secondary">//</span> You can also use stringstream from sstream library to convert string into integer</span>

        <span class="text-primary">if</span>(isOperand(postfix[i])){

            <span class="text-primary">try</span>{
                num = stoi(string(1, postfix[i])); <span class="text-secondary">//</span>convert char to string before stoi function</span>
                st.push(num);
            }
            <span class="text-primary">catch</span>(const invalid_argument &e){
                cout&lt;&lt;"Invalid Argument Error! Please enter numbers"&lt;&lt;endl;
                <span class="text-primary">return</span> -1;
            }
        }
        <span class="text-primary">else</span>{
            <span class="text-primary">int </span>a, b, c;
            b = st.top();
            st.pop();
            a = st.top();
            st.pop();
            c = operation(postfix[i],a,b);
            st.push(c);
        }

    }

    <span class="text-primary">return</span> st.top();
}

<span class="text-primary">int </span>main() {
    string postfix = "15+";
    cout&lt;&lt;"Evaluation: "&lt;&lt; evaluation(postfix)&lt;&lt;endl;

    <span class="text-primary">return</span> 0;
}



</pre>
    </div>
    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
<pre style="text-wrap:wrap;">

<span class="text-secondary">// Postfix Evaluator</span>
<span class="text-secondary">// Name: Tirthraj Mahajan </span>


<span class="text-primary">function</span> isOperand(val){
    <span class="text-primary">if</span>(val=='('||val==')'||val=='+'||val=='-'||val=='/'||val=='*'||val=='^'||val=='–'){
        <span class="text-primary">return</span> <span class="text-danger">false</span>;
    }
    <span class="text-primary">return</span> <span class="text-danger">true</span>;
}



<span class="text-primary">function</span> operation(a, b, operation){
    <span class="text-primary">switch</span>(operation){
        <span class="text-primary">case</span> '+':
            <span class="text-primary">return</span> a+b;
            break;
        <span class="text-primary">case</span> '-':
            <span class="text-primary">return</span> a-b;
            break;
        <span class="text-primary">case</span> '–':
            <span class="text-primary">return</span> a-b;
            break;
        <span class="text-primary">case</span> '*':
            <span class="text-primary">return</span> a*b;
            break;
        <span class="text-primary">case</span> '/':
            <span class="text-primary">return</span> a/b;
            break;
        <span class="text-primary">case</span> '^':
            <span class="text-primary">return</span> a**b;
            break;
        <span class="text-primary">default</span>:
            <span class="text-success">console.log</span>("Invalid Operation ", operation);
            <span class="text-primary">return</span> 0;
    }

}


<span class="text-primary">let</span> numStack = [];
<span class="text-primary">function</span> evaluate(expression){
    <span class="text-primary">let</span> expressionArr = expression.split(" ");
    <span class="text-success">console.log</span>("Expression Array: ",expressionArr);
    <span class="text-primary">let</span> stack = [];
    for(<span class="text-primary">let</span> i=0; i&lt;expressionArr.length; i++){
        <span class="text-primary">if</span>(isOperand(expressionArr[i])){
            stack.push(expressionArr[i]);
            numStack.push(Number(expressionArr[i]));
        }<span class="text-primary">else</span>{
            <span class="text-primary">let</span> b = stack.pop();
            <span class="text-primary">let</span> a = stack.pop();
            stack.push(`(${a} ${expressionArr[i]} ${b})`); 
            <span class="text-primary">let</span> num2 = numStack.pop();
            <span class="text-primary">let</span> num1 = numStack.pop();
            numStack.push(operation(num1,num2,expressionArr[i]));
        }
    }
    <span class="text-primary">return</span> stack[stack.length-1];

}

<span class="text-primary">let</span> postfix = "10 5 +";
<span class="text-success">console.log</span>(evaluate(postfix));
<span class="text-primary">if</span>(!isNaN(numStack[numStack.length-1])){
	<span class="text-success">console.log</span>("Evaluation Result : ",numStack[numStack.length-1]);
}


</pre>
    </div>
    </div>
    </div>


    <br><br>
    <footer class="bg-dark text-center text-white">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Tirthraj Mahajan : 
        <a class="text-white" href="https://github.com/tirthraj07" target="_blank">Github</a>
    </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{ url_for('static',filename='js/projects/PostfixConverterAndEvaluator/postfixEvaluator.js') }}"></script>
</body>
</html>