<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/projects/Pokedex/style.css') }}">
</head>
<body>
    
    <nav>
        <img src="https://miro.medium.com/v2/resize:fit:300/0*NsHVyfpJ2k7ixTAd" alt="Logo">
        <header>POKEDEX</header>
    </nav>

    <div class="container">
        <h1>POKEMONS</h1>
        
        <div class="wrapper">
            <!-- <div class="pokemon">
                <div class="pokemon-image">
                    <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png" alt="">
                </div>
                <div class="pokemon-info">
                    <h3 class="pokemon-name">Bulbasaur</h3>
                    <div class="pokemon-id">ID: 1</div>
                    <div class="pokemon-types">
                        <div class="type">Grass</div>
                        <div class="type">Poison</div>
                    </div>
                </div>
            </div> -->
        </div>

        <button class="loadMoreBtn" onclick="loadMore()">Load More</button>
        
    </div>



    <script src="{{ url_for('static',filename='js/projects/Pokedex/script.js') }}"></script>
</body>
</html>